{% extends "mainApp/formPageTemplate.html" %}

{% block content %}
  <div class="container">
      <form method="POST" action="{% url 'form2'  %}" class="d-flex flex-column gap-3">
           {% csrf_token %}
          <h2 class="text-center">
      Completați toate câmpurile obligatorii cu informații corecte și asigurați-vă că datele introduse sunt conforme cu documentele oficiale.
    </h2>
            {% for question, answers in questions_with_answers %}
                {% if question.step == 1 %}
                    {% include "mainApp/checkbox.html" with q=question ans=answers %}
                {% endif %}
            {% endfor %}
          <input class="btn btn-primary" type="submit" value="Next Page"></input>
      </form>
  </div>
{% endblock %}