{% extends "mainApp/formPageTemplate.html" %}

{% block content %}
  <div class="container">
      <form action="{% url 'form3'  %}" class="stepForm">
          <h2>
      Completați toate câmpurile obligatorii cu informații corecte și asigurați-vă că datele introduse sunt conforme cu documentele oficiale.
    </h2>
    <hr>
        <ul>
            {% for question, answers in questions_with_answers %}
                {% if posted ==  "Frontend" %}
                    {% if question.step == 2 and question.tip_question == 1 %}
                        {% include "mainApp/checkbox.html" with q=question ans=answers %}
                    {% endif %}
                {% elif  posted == "Backend" %}
                    {% if question.step == 2 and question.tip_question == 2 %}
                        {% include "mainApp/checkbox.html" with q=question ans=answers %}
                    {% endif %}
                {% elif  posted == "Frontend & Backend" %}
                    {% if question.step == 2 and question.tip_question == 1 or question.step == 2 and question.tip_question == 2 %}
                        {% include "mainApp/checkbox.html" with q=question ans=answers %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
          <input type="submit" value="Next Page">
      </form>
  </div>
{% endblock %}