{% extends "initialState/formPageTemplate.html" %}

{% block content %}
  <h1>Marius a scris acest cod!!</h1>
  <div class="container">
    <p>
      Bun venit! Vă rugăm să completați acest formular cu atenție, furnizând informații corecte și actualizate. Datele pe care le introduceți sunt esențiale pentru procesul nostru și ne ajută să vă cunoaștem mai bine. Asigurăm că toate informațiile cu caracter personal vor fi prelucrate în conformitate cu reglementările privind protecția datelor și vor fi utilizate exclusiv în scopurile specificate.
    </p>
    <p>
      Confidențialitatea și securitatea datelor dumneavoastră sunt o prioritate pentru noi. Formularul este protejat, iar accesul la informațiile completate este limitat doar persoanelor autorizate.
    </p>
    <p>
      Completați toate câmpurile obligatorii cu informații corecte și asigurați-vă că datele introduse sunt conforme cu documentele oficiale.
    </p>
    <form novalidate action="{% url 'form1' %}" class="d-flex flex-column gap-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="name" placeholder="Enter your name..">
          <label for="name">Name</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="Enter your email..">
          <label for="email">Email</label>
          <div class="invalid-feedback">Incorrect email</div>
          <div class="valid-feedback">Correct email</div>
        </div>
      <input class="btn btn-primary" type="submit" value="Next Page">
    </form>
  </div>
{% endblock %}
